*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

nav div[class*="col"]{
    float:left;
}

footer div[class*="col"]{
    float:left;
}


.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/*Selectors*/
/*************************************************/
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position:top;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}

nav{
    font-size: 14px;
    line-height: 45px;
}

h1{
    font-size: 70px;
    padding-bottom: 50px;
}

h2{
    font-size: 50px;
    padding-bottom: 20px;
}

h3{
    font-size:25px;
}


p{
    line-height: 35px;
    font-size: 25px;
    padding-bottom: 40px;
}

.hero-list li{
    display:inline-block;
}

.hero-list li>a{
    padding:10px 20px;

}

.hero-image a>img{
    width: 200px;
    object-fit: cover;
}

.hero-info :nth-child(4){
    background-color: rgb(36, 39, 44);
    color:white;
    margin-left: 30px;
}

section:nth-of-type(odd) .section-content.small-section>div{
    float:right;
}

section:nth-of-type(even) .section-content.small-section>div{
    float:left;
}

section:nth-of-type(even) .section-content.small-section .section-image{
    text-align: end;
}

section:nth-of-type(even){
    background-color: rgb(231, 231, 231);
}

section:last-child{
    text-align: center;
}

footer{
    background-color: rgb(36, 39, 44) ;
    color:white;
    line-height: 30px;
    padding-top:65px;
}

footer h3,h4{
    color: rgb(117, 136, 219)
}

footer h3{
    padding-bottom: 20px;
    font-size: 42px;
    line-height: 50px;
}

figure img{
    width:20px;
    vertical-align: middle;
}
figcaption{
    display: inline-block;
    vertical-align: middle;
}

figure{
    padding-bottom: 20px;
}

figure a{
    font-size: 10px;
    vertical-align: top;
}

.social-media-buttons a{
    margin-right: 20px;
    font-size: 20px;
}

.bottom-footer-container div:nth-child(2){
    float:right;
}
/*************************************************/




/*Column width*/
/*********************************/
.col1_6{
    width: calc(100% / 6);
}

.col2_6{
    width: calc(100% / 6 * 2);
}

.col4_6{
    width: calc(100% / 6 * 4);
}

.col6_6{
    width: 100%;
}
/*********************************/





/*Classes*/
/*********************************/

.hero-container{
    width: 1400px;
    margin: 0 auto;
    font-weight: bold;
    min-height: 900px;
    position: relative;
    color:white;
    padding-top: 20px;
}

.hero-list{
    text-align: center;
    vertical-align: middle;
}

.hero-info{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn{
    border-radius: 30px;
    background-color: white;
    color:black;
    font-size: 18px;
    padding: 15px 20px;
}

.btn-small{
    padding: 10px 15px;
    font-size: 14px;
}

.btn-purple{
    background-color:rgb(143, 161, 227);
    color:white;
}
.section-content{
    width: 1400px;
    margin: 0 auto;
    padding:150px 0;
    color: rgb(36, 39, 44);
}

.small-section-text{
    text-align: left;
}

.large-img{
    width:100%;
}

.bottom-title{
    position:relative;
    padding-bottom: 60px;
}

.bottom-stars{
    position:absolute;
    display:inline;
    transform: translateX(-50%);
    bottom:70px;
}

.upper-footer-container, .bottom-footer-container{
    width: 1400px;
    margin:auto;
}

.upper-footer-container{
    border-bottom: 1px solid rgb(117, 136, 219);
    padding-bottom: 20px;
}

.footer-list{
    float:left;
    padding-left:20%;

}

.bottom-footer-container{
    padding-top: 20px;
    padding-bottom: 70px;
}

