*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

nav div[class*="col"]{
    float:left;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}


header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position:top;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}

nav{
    font-size: 14px;
    line-height: 45px;
}

h1, h3{
    padding-bottom: 50px;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 50px;
    padding-bottom: 20px;
}

h3{
    font-size:30px;
}

p{
    line-height: 35px;
    font-size: 25px;
    padding-bottom: 40px;
}

.hero-list li{
    display:inline-block;
}

.hero-list li>a{
    padding:10px 20px;

}

.hero-image a>img{
    width: 200px;
    object-fit: cover;
}

.hero-info :nth-child(4){
    background-color: rgb(36, 39, 44);
    color:white;
}

section:nth-of-type(odd) .section-content.small-section>div{
    float:right;
}

section:nth-of-type(even) .section-content.small-section>div{
    float:left;
}

section:nth-of-type(even) .section-content.small-section .section-image{
    text-align: end;
}

section:nth-of-type(even){
    background-color: rgb(231, 231, 231);
}


/*Column width*/
/*********************************/
.col1_6{
    width: calc(100% / 6);
}

.col2_6{
    width: calc(100% / 6 * 2);
}

.col4_6{
    width: calc(100% / 6 * 4);
}

.col6_6{
    width: 100%;
}
/*********************************/

/*Classes*/
/*********************************/

.hero-container{
    width: 1400px;
    margin: 0 auto;
    font-weight: bold;
    min-height: 900px;
    position: relative;
    color:white;
    padding-top: 20px;
}

.hero-list{
    text-align: center;
    vertical-align: middle;
}

.hero-info{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn{
    border-radius: 30px;
    background-color: white;
    color:black;
    font-size: 18px;
    padding: 15px 20px;
    margin: 20px;
}

.btn-small{
    padding: 10px 15px;
    font-size: 14px;
}

.btn-purple{
    background-color:rgb(143, 161, 227);
    color:white;
}
.section-content{
    width: 1400px;
    margin: 0 auto;
    padding:200px 0;
    color: rgb(36, 39, 44);
}

.section-text{
    text-align: left;
}

.large-img{
    width:100%;
}